* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(to bottom, #0369a1, #0ea5e9);
  min-height: 100vh;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  overflow-x: hidden;
  padding: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

.text-lg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

.text-xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.back-link {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 16px;
  cursor: pointer;
}

.temp-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}
